:root {
    --font-family: 'Open Sans', sans-serif;
    --main-color: rgb(4, 74, 171);
    --main-orange: rgb(255, 150, 45);
    --main-black: rgb(0, 0, 0);
    --main-white: rgb(255, 255, 255);
    --main-yellow: rgb(255, 212, 20);
    --secondary-blue: rgb(122, 171, 255);
    --footer-grey: rgb(48, 48, 48);
}

html {
    height: 100%;
}

body {
    font-family: var(--font-family);
    height: 100%;
}

a,
button,
p {
    transition: all 300ms ease-in-out;
}

a:visited {
    text-decoration: none;
}



/* DONATE */

.donate {
    background-color: var(--main-color);
    color: var(--main-yellow);
    text-align: center;
    max-height: 120%;
}

.donate-text {
    font-size: 16px;
}

a.donate-link {
    text-decoration: underline;
    /* font-family: var(--font-family); */
    color: var(--main-yellow);
}

a.donate-link:hover,
a.donate-link:focus {
    color: var(--main-white);
}



/* HEADER */

.header-section {
    /* position: relative; */
    width: 100vw;
    height: 100vh;
}

.header-section:before {
    content: ' ';
    justify-content: center;
    display: block;
    position: absolute;
    background-image: url("../images/background-sm.jpeg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: -10;
}



/* NAVBAR */

div.navbar-container {
    margin: 0 auto;
    padding: 0 40px;
    position: sticky;
    top: 0;
    z-index: 200;
    background-color: rgba(255, 255, 255, 0.8);
}

/* p.navbar-title:hover,
p.navbar-title:focus {
    color: var(--main-orange);
} */

.navbar-lang {
    list-style: none;
    padding: 0;
}

.logo {
    max-width: 200px;
}

.logo-small {
    max-width: 60px;
    padding: 10px 0;
}

/* .navbar-title {
    font-family: var(--font-family);
    font-size: 16px;
    color: var(--main-color);
} */

a.nav-link {
    text-decoration: none;
    border: none;
    background: none;
    color: var(--main-color);
    cursor: pointer;
    outline: none;
}

li.nav-item:not(:last-child) {
    margin-right: 20px;
}

a.nav-link:hover,
a.nav-link:focus {
    color: var(--main-orange);
}

a.active-link {
    border-bottom: 1px solid;
    border-color: var(--main-orange);
}

a.shipper-btn,
a.carrier-btn {
    text-decoration: none;
    border: 1px solid;
    border-color: var(--main-color);
    border-radius: 4px;
    background: none;
    color: var(--main-color);
    cursor: pointer;
    outline: none;
    padding: 4px 8px;
}

a.shipper-btn:hover,
a.shipper-btn:focus,
a.carrier-btn:hover,
a.carrier-btn:focus {
    border-color: var(--main-orange);
    background-color: var(--main-orange);
    color: var(--main-white);
}

a.demo-btn {
    text-decoration: none;
    border: 1px solid;
    border-color: var(--main-orange);
    border-radius: 4px;
    background: none;
    color: var(--main-orange);
    cursor: pointer;
    outline: none;
    padding: 4px 8px;
}

a.demo-btn:hover,
a.demo-btn:focus {
    border-color: var(--main-orange);
    background-color: var(--main-orange);
    color: var(--main-white);
}

a.about-demo-btn {
    text-decoration: none;
    border: 1px solid;
    border-color: var(--main-orange);
    border-radius: 4px;
    background: none;
    color: var(--main-orange);
    cursor: pointer;
    outline: none;
    padding: 4px 8px;
}

a.about-demo-btn:hover,
a.about-demo-btn:focus {
    border-color: var(--main-orange);
    background-color: var(--main-orange);
    color: var(--main-white);
}

/* a.sign-btn {
    text-decoration: none;
    border: 1px solid;
    border-color: rgb(45, 119, 255);
    border-radius: 4px;
    background-color: rgb(45, 119, 255);
    color: rgb(255, 255, 255);
    cursor: pointer;
    outline: none;
    padding: 4px 8px;
}

a.sign-btn:hover,
a.sign-btn:focus {
    border-color: rgb(45, 119, 255);
    background: none;
    color: rgb(45, 119, 255);
} */

ul.dropdown-menu {
    text-decoration: none;
    border: 1px solid;
    border-color: var(--main-color);
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.65);
    cursor: pointer;
    outline: none;
    padding: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

select.form-select {
    color: var(--footer-grey);
}


/* HERO */

h1.title {
    font-size: 68px;
    line-height: 2;
    margin: 50px auto;
    color: var(--main-color);
}

h2.subtitle {
    font-size: 32px;
    margin: 0 auto 60px;
    color: var(--main-color);
}

.hero-container {
    text-align: center;
    position: relative;
}

/* select.form-select {
    font-size: 16px;
    color: #6f7175;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */

button.dropdown-btn {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #6f7175;
    background-color: var(--main-white);
}

input.form-control {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #303030;
    background-color: var(--main-white);
}

button.search-btn {
    text-align: start;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.7;
    border: none;
    border-radius: 4px;
    background-color: var(--main-color);
    color: var(--main-white);
    cursor: pointer;
    outline: none;
    padding: 6px 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button.search-btn:hover,
button.search-btn:focus {
    border-color: var(--main-orange);
    background-color: var(--main-orange);
    color: var(--main-white);
}

#myBtn {
    /* display: none; */
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 24px;
    border: none;
    outline: none;
    background-color: var(--main-color);
    color: var(--main-white);
    cursor: pointer;
    padding: 7px 15px 1px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: var(--secondary-blue);
}



/* ADVANTAGES */

div.advantages-list {
    padding: 0 20px;
    margin: 0 auto 10px;
}

div.advantages-item {
    text-align: center;
    padding: 0;
    max-width: 300px;
    max-height: auto;
}

div.advantages-item:not(:last-child) {
    margin-right: 10%;
}

.advantages-title {
    font-size: 22px;
    font-weight: 700;
}

.advantages-desc {
    font-size: 16px;
    font-weight: 300;
}

.advantages-img {
    width: 280px;
    height: 280px;
}



/* SHIPPER & CARRIER */

div.view-section {
    /* height: 100%; */
    margin: 50px auto 0;
}

.shipper-container,
.carrier-container {
    position: relative;
    width: 50%;
    /* height: 100%; */
}

.shipper-container {
    margin: 0 50px 0 10px;
}

.carrier-container {
    margin: 0 10px 0 0;
}

img.shipper-img,
img.carrier-img {
    display: block;
    width: 100%;
    height: 90%;
    border-radius: 4px;
}

.overlay {
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--main-color);
}

.shipper-container:hover .overlay,
.carrier-container:hover .overlay {
    opacity: 0.9;
}

.list {
    color: var(--main-white);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.shipper-title,
.carrier-title {
    font-size: 28px;
    line-height: 2;
    border-bottom: 1px solid;
    border-color: var(--main-orange);
}

.shipper-item,
.carrier-item {
    list-style: none;
    font-size: 18px;
    line-height: 2;
    padding: 0;
}

button.shipper-btn,
button.carrier-btn {
    text-decoration: none;
    font-size: 16px;
    line-height: 1.8;
    border: none;
    color: var(--main-white);
    cursor: pointer;
    outline: none;
}

button.shipper-btn:hover,
button.shipper-btn:focus,
button.carrier-btn:hover,
button.carrier-btn:focus {
    background-color: var(--main-orange);
    color: var(--main-white);
}




/* BOOK A DEMO */

.demo-title {
    font-size: 48px;
    font-weight: 500;
}

.demo-text {
    font-size: 16px;
    font-weight: 300;
}

.demo-btn {
    text-decoration: none;
    border: 1px solid;
    border-radius: 4px;
    border-color: var(--main-color);
    background-color: var(--main-color);
    color: var(--main-white);
    font-size: 28px;
    cursor: pointer;
    outline: none;
    padding: 10px 16px;
    margin: 30px auto;
}

.demo-btn:hover,
.demo-btn:focus {
    border: 1px solid;
    border-color: var(--main-color);
    background-color: var(--main-white);
    color: var(--main-color);
}



/* ECOLOGY */

div.ecology-section {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    padding: 50px 20px;
    background-color: rgba(0, 128, 0, 0.2);
}

.ecology-icon {
    color: green;
    font-size: 48px;
}

.ecology-title {
    font-size: 48px;
}

.ecology-text {
    font-size: 18px;
    line-height: 2;
    margin: 0;
    padding: 0 20px;
}

.ecology-numbers {
    font-size: 60px;
    color: green;
}



/* TESTIMONIAL */

div.testimonial-section {
    margin: 120px auto;
}

.carousel-items {
    text-align: center;
}




/* CATEGORIES */

div.categories {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    padding: 30px 0;
    margin: 50px 150px;
    border-radius: 4px;
    background-color: var(--footer-grey);
    opacity: 0.8;
    color: var(--main-white);
}

.categories-title {
    font-size: 48px;
}

.categories-item {
    font-size: 38px;
}

.categories-item:hover,
.categories-item:focus {
    font-size: 58px;
}

.categories-text {
    margin: 10px auto 0;
    font-size: 16px;
}



/* SUPPORTED BY */

.support-title {
    font-size: 48px;
    font-weight: 500;
}

div.support-item {
    margin: 50px auto;
}

ul.support-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

li.support-item {
    text-align: center;
    padding: 10px;
}

li.support-item:not(:last-child) {
    margin-right: 50px;
}




/* FOOTER */

div.footer {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--footer-grey);
    color: var(--main-white);
}

.store-links {
    font-size: 50px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.store-link:not(last-child) {
    margin-right: 25px;
}

.media-links {
    font-size: 30px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.media-link {
    text-decoration: none;
    color: var(--main-white);
}

.media-link:not(last-child) {
    margin-right: 25px;
}




/* ABOUT US */

.about-header {
    position: relative;
    width: 100vw;
    height: 90vh;
}

.about-header:before {
    content: ' ';
    justify-content: center;
    display: block;
    position: absolute;
    background-image: url("../images/team-photo.jpg");
    /* background-color: rgba(222, 222, 222, 0.4); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
}

.about-container {
    border-bottom: 1px solid var(--main-color);
}

div.about-navbar-container {
    margin: 0 auto 10px;
    padding: 0 40px;
    position: sticky;
    top: 0;
    z-index: 200;
    background-color: rgba(255, 255, 255, 0.8);
}

div.member-section {
    margin: 0 50px;
}

.team-title {
    font-size: 58px;
}

.team-text {
    font-size: 16px;
    line-height: 2;
    margin: 20px auto;
}

/* DESCRIPTION */

.desc-section {
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    /* left: 50;
    translate: middle; */
    margin: 0 20% 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 4px;
}

p.desc-text {
    font-size: 24px;
    line-height: 2.5;
    color: var(--main-color);
    margin: 0;
    padding: 10px 20px;
}

/* CONTACT US */

div.contact {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    padding: 30px 0;
    margin: 50px 150px;
    border-radius: 4px;
    background-color: var(--main-color);
    color: var(--main-white);
}

button.contact-nav {
    font-size: 18px;
}

button.modal-btn {
    text-decoration: none;
    font-size: 16px;
    border: 1px solid;
    border-color: var(--main-color);
    border-radius: 4px;
    background: none;
    color: var(--main-color);
    cursor: pointer;
    outline: none;
    padding: 8px 12px;
}

button.modal-btn:hover,
button.modal-btn:focus {
    border-color: var(--main-color);
    background-color: var(--main-color);
    color: var(--main-white);
}

.contact-title {
    font-size: 38px;
}

.contact-text {
    font-size: 18px;
    line-height: 2;
    margin: 20px auto;
    padding: 0 20px;
}

.contact-btn {
    text-decoration: none;
    border: 1px solid;
    border-radius: 4px;
    border-color: var(--main-yellow);
    background-color: var(--main-yellow);
    color: var(--main-color);
    font-size: 18px;
    cursor: pointer;
    outline: none;
    padding: 10px 16px;
    margin: 30px auto;
}

.contact-btn:hover,
.contact-btn:focus {
    border: 1px solid;
    border-color: var(--main-yellow);
    background-color: var(--main-color);
    color: var(--main-yellow);
}

div.founder-img {
    margin-right: 50px;
}

.user-img {
    font-size: 100px;
}



/* HOW IT WORKS */

.howitworks-container {
    border-bottom: 1px solid var(--main-color);
}




/* RESPONSIVE */

/* X-Large: 1200px - 1399px */
@media (max-width: 1399.999px) {
    li.nav-item:not(:last-child) {
        margin-right: 25px;
    }

    div.advantages-item:not(:last-child) {
        margin-right: 100px;
    }
}

/* Large: 992px - 1199px */
@media (max-width: 1199.999px) {
    li.nav-item {
        margin: 10px 0px;
    }

    .shipper-container {
        margin: 0 50px 0 20px;
    }

    .carrier-container {
        margin: 0 20px 0 0;
    }
}

/* Medium: 768px - 991px */
@media (max-width: 991.999px) {
    .advantages-img {
        width: 200px;
        height: 200px;
    }

    .advantages-title {
        font-size: 18px;
        font-weight: 700;
    }

    .advantages-desc {
        font-size: 12px;
        font-weight: 300;
    }

    .view-block {
        flex-direction: column;
        align-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .shipper-container,
    .carrier-container {
        position: relative;
        width: 80%;
        height: 100%;
    }

    .shipper-container {
        margin: 0 0 20px;
    }

    .carrier-container {
        margin: 0;
    }

    div.ecology-section {
        padding: 30px 10px;
    }

    .ecology-title {
        font-size: 36px;
    }

    .ecology-numbers {
        font-size: 40px;
    }

    div.categories {
        padding: 10px 0;
        margin: 50px auto;
    }

    .categories-title {
        font-size: 36px;
    }

    .categories-item {
        font-size: 28px;
    }

    .support-title {
        font-size: 36px;
        margin-bottom: 20px;
    }

    div.support-item {
        margin: 20px auto;
    }

    li.support-item {
        padding: 0;
    }

    .desc-section {
        margin: 0 10% 10px;
    }

    p.desc-text {
        font-size: 18px;
    }
}

/* Small: 576px - 767px */
@media (max-width: 767.999px) {
    a.donate-link {
        text-decoration: none;
        font-weight: 700;
    }

    h1.title {
        font-size: 48px;
    }

    h2.subtitle {
        font-size: 18px;
        line-height: 2;
        padding: 0 10px;
    }

    .search-section {
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    .search-item:not(:last-child) {
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
        padding: 0;
    }

    .advantages-list {
        flex-direction: column;
        align-content: center;
        align-items: center;
        margin: 0 auto;
    }

    div.advantages-item:not(:last-child) {
        margin-right: 0;
    }

    .advantages-title {
        font-size: 22px;
        font-weight: 700;
    }

    .advantages-desc {
        font-size: 16px;
        font-weight: 300;
    }

    .shipper-title,
    .carrier-title {
        font-size: 18px;
    }

    .shipper-item,
    .carrier-item {
        font-size: 14px;
    }

    button.shipper-btn,
    button.carrier-btn {
        font-size: 12px;
        line-height: 1.6;
    }

    .support-list {
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    li.support-item {
        max-width: 200px;
    }

    li.support-item:not(:first-child) {
        margin-top: 50px;
    }

    li.support-item:not(:last-child) {
        margin-right: 0;
    }


    p.footer-text {
        padding: 0 10px;
        font-size: 12px;
    }

    p.demo-text {
        text-align: center;
        padding: 0 20px;
    }

    div.member-section {
        margin: 0 auto;
    }

    .team-title {
        font-size: 36px;
    }

    div.contact {
        padding: 20px 0;
        margin: 50px auto;
    }

    div.founder-block {
        flex-direction: column;
        align-content: center;
        align-items: center;
        margin: 0 auto;
    }

    div.founder-img {
        margin: 0 0 20px;
    }

    div.mentor-section,
    div.advisor-section {
        flex-direction: column;
        align-content: center;
        align-items: center;
        margin: 0 auto;
    }

    div.mentor-item:not(:last-child),
    div.advisor-item:not(:last-child) {
        margin-bottom: 60px;
    }

}

/* Extra small: 0px (320px) - 575px */
@media (max-width: 575.999px) {
    h1.title {
        font-size: 48px;
        margin: 30px 20px;
    }

    h2.subtitle {
        font-size: 18px;
    }

    .ecology-text {
        font-size: 14px;
    }
}